################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/WillieEaton.CodeLou.ExerciseProject/.vs/C Sharp Class Project/v16/Server/sqlite3
/WillieEaton.CodeLou.ExerciseProject/.vs/C Sharp Class Project/v16/.suo
/WillieEaton.CodeLou.ExerciseProject/bin/Debug
/WillieEaton.CodeLou.ExerciseProject/obj/x86/Debug
/WillieEaton.CodeLou.ExerciseProject/C Sharp Class Project.sln
/WillieEaton.CodeLou.ExerciseProject/C Sharp Class Project.csproj.user
/WillieEaton.CodeLou.ExerciseProject/C Sharp Class Project.csproj
/WillieEaton.CodeLou.ExerciseProject/packages/Newtonsoft.Json.12.0.3
